*{

    margin:0;
    
    padding:0;
    
    }
 body{
     height: 100%;
 }   

.formulaire{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    background-color:#e8eaf6;
}

#back{
    position: relative;
}

.navigation{
    background-color:#e8eaf6;
}

.titre{

font-family: 'Dancing Script', cursive;

}

 


    